html{
    font-family: 'Roboto';
    margin: -7px;
    
}
.mainContainer{
    height: 100%;
    display: flex;
    flex-direction: column;
    
}
.divHeader{
    display: flex;
    flex-grow: 1;
    background-color: #F9F9F9;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

.divLower{
    display: flex;
    flex-direction: row;
    flex-grow: 9;
    /* background-color: blueviolet; */
}
.divUsers{
    display: flex;
    /* position: fixed; */
    flex-direction: column;
    flex-grow: 7;

    
    
    padding: 10px;
    border:1px solid #EAEDED;
    /* -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px; */
    /* column-width: 300px; */
}
.divProfile{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    /* background-color: chocolate; */
}
.divSearch{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    flex-grow: 0.1;
    border: 1px solid gray;
    padding: 10px;
    background-color: white;
}
.searchIcon{
    height: 20px;
    width: 20px;
    color: gray;
    
}
.textSearch{
    font-size: 14px;
    color: #8B8E94;
    /* font-weight: bold; */
    
}

/* #divList,.divListContainer{
    break-inside: avoid;
    -webkit-break-inside: avoid;
} */

#divList{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 600px;
    /* width: 400px; */
    /* -webkit-columns: 2;
    columns: 2; */
    /* overflow: hidden; */
    /* align-content: stretch;
    align-items: stretch; */
    /* height: 100%; */
    /* column-count: 2; */
    /* column-span: all; */
    /* -webkit-column-span: all; */
}

.divListContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
    

    /* float: left;
    width: 50%;
    box-sizing: border-box; */

    /* max-width: 300px;
    min-width: 300px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50px; */
    /* column-span: all; */
}

.divListContainer:hover{
    cursor: pointer;
}

.divThumb{
    display: flex;
    /* flex-grow: 2; */
}
.divUserName{
    display: flex;
    /* flex-grow: 8; */
    margin-left: 20px;
    
    font-size: 18px;
    justify-content: flex-start;
    align-items: center;
}
.divThumb > img{
    border-radius: 50%;
}
#divPro1{
    position: relative;
    
    display: flex;
    flex-grow: 2;
    flex-direction: column;
   align-items: center;
   justify-content: center;
   /* align-content: center; */
    
}
#blurredPhoto{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: center;
    filter: blur(8px);
    z-index: -1;
}

.divPro2{
    display: flex;
    flex-grow: 8;
    flex-direction: column;
    padding: 40px;
    justify-content: flex-start;
    align-items: flex-start;
    
}

.divProfile:hover{
    cursor: grab;
}
.divText{
    font-size: 15px;
    color: gray;
    margin: 10px;
}
.temp{
    display: flex;
    flex-grow: 8;
}
.divEmailDisplay{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* margin: 10px; */
}
.divPhoneDisplay{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
#divEmail{
    font-size: 20px;
    color: black;
    margin: 10px;
}
#divPhone{
    font-size: 20px;
    color: black;
    margin: 10px;
}

#ProName{
    font-size: 16px;
    color: white;
    margin: 10px;
}
#ProOccu{
    font-size: 12px;
    color: white;
}
#ProThumb{
    border-radius: 50%;
    border:4px solid white;
    margin: 40px;
}
.divListContainer:focus{
    outline: none;
    border: 1px solid #D7DBDD;
    background-color: #F9F9F9;
    border-radius: 30px;
}
#textUsers{
    margin-top: 35px;
    font-size: 19px;
    padding: 20px;
}

@media all and (max-width : 350px){
    #divList{
        display: flex;
        flex-direction: column;        
        justify-content: flex-start;
    }
    body{
        background-color: lawngreen;
    }
    .divListContainer{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin: 20px;
    }
    
}